<div class="row">
    <div class="col-xs-12">
        <!--<table class="table table-condensed">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Rating</th>
                    <th>Btns</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#movie of movies">
                    <td>
                        <a [routerLink]="['Detail', {id: movie.id}]">{{movie.title}}</a>
                    </td>
                    <td>{{movie.year}}</td>
                    <td [ngClass]="{'text-success': movie.isGood(), 'text-danger': movie.isBad()}">
                        {{movie.rating | rating}}
                    </td>
                    <td>
                        <button class="btn btn-success" (click)="movie.increaseRating($event)"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-danger" (click)="movie.decreaseRating($event)"><i class="fa fa-minus"></i></button>
                        <button (click)="editMovie(movie.id)">edit</button>
                    </td>
                </tr>
            </tbody>
        </table>-->

        <div *ngFor="#movie of movies">
            <movie-display [movie]="movie" (editMovie)="editMovie($event.id)"></movie-display>
        </div>

    </div>
</div>